body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h3 {
  font-family: 'Alata', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
}